/* BASIC STYLES HERE */
.profile-picture {
  height: 200px;
  max-width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.profile-picture.profile-picture-sm {
  height: 64px;
}

.offcanvas-body-scroll {
  overflow-y: auto;
}

.gift-card {
  height: 60dvh;
}

.gift-card-image {
  width: 100%;
  min-height: 45vh;
  height: auto;
  display: flex;
}